.ItemCart {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.ItemCart-code {
  margin: 20px 10px 20px 20px;
}

.ItemCart-title {
  width: 100%;
  margin: 20px 10px;
}

.ItemCart-quantity {
  width: 180px;
  margin: 20px 10px 25px 0;
  text-align: right;
}
.ItemCart-price {
  width: 190px;
  margin: 20px 0;
  text-align: right;
}

.ItemCart-actions {
  display: flex;
  justify-content: flex-end;
  margin: 20px 20px 20px 10px;
}

.ItemCart-button {
  width: 76px;
}
